
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>KidKinder - Resmi Web Sitesi</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="~/Templates/kidkinder-1.0.0/img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap"
          rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          rel="stylesheet" />

    <!-- Flaticon Font -->
    <link href="~/Templates/kidkinder-1.0.0/lib/flaticon/font/flaticon.css" rel="stylesheet" />

    <!-- Libraries Stylesheet -->
    <link href="~/Templates/kidkinder-1.0.0/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Templates/kidkinder-1.0.0/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Templates/kidkinder-1.0.0/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid bg-light position-relative shadow">
        <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
            <a href=""
               class="navbar-brand font-weight-bold text-secondary"
               style="font-size: 50px">
                <i class="flaticon-043-teddy-bear"></i>
                <span class="text-primary">KidKinder</span>
            </a>
            <button type="button"
                    class="navbar-toggler"
                    data-toggle="collapse"
                    data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between"
                 id="navbarCollapse">
                <div class="navbar-nav font-weight-bold mx-auto py-0">
                    <a href="/Default/Index/" class="nav-item nav-link ">Anasayfa</a>
                    <a href="/About/Index/" class="nav-item nav-link">Hakkımızda</a>
                    <a href="/ClassRoom/Index/" class="nav-item nav-link">Egitim Grupları</a>
                    <a href="/OurTeacher/Index/" class="nav-item nav-link">Ogretmenler</a>
                    <a href="/Gallery/Index/" class="nav-item nav-link">Galeri</a>
                    <a href="/Contact/Index/" class="nav-item nav-link">İletisim</a>
                </div>
                <a href="/ModalDeneme/index/" data-target="#Modal1" class="btn btn-primary px-4">Hemen Basvurun</a>
            </div>
        </nav>
    </div>
    @RenderBody()
    <div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-4 col-md-6 mb-5">
                <a href=""
                   class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0"
                   style="font-size: 40px; line-height: 40px">
                    <i class="flaticon-043-teddy-bear"></i>
                    <span class="text-white">KidKinder</span>
                </a>
                <p>
                    İyi bir eğitim kadrosuyla, Cocugunuzun gelisimi icin en iyi egitim.
                </p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px"
                       href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px"
                       href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px"
                       href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px"
                       href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <h3 class="text-primary mb-4">Get In Touch</h3>
                <div class="d-flex">
                    <h4 class="fa fa-map-marker-alt text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Adres</h5>
                        <p>34100 bostancı - Kadıkoy-İstanbul</p>
                    </div>
                </div>
                <div class="d-flex">
                    <h4 class="fa fa-envelope text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Mail</h5>
                        <p>kidkinder@gmail.com</p>
                    </div>
                </div>
                <div class="d-flex">
                    <h4 class="fa fa-phone-alt text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Telefon</h5>
                        <p>
                            ++905535906545

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-5">
                <h3 class="text-primary mb-4">Quick Links</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="/Default/index/"><i class="fa fa-angle-right mr-2"></i>AnaSayfa</a>
                    <a class="text-white mb-2" href="/About/index/"><i class="fa fa-angle-right mr-2"></i>Hakkımızda</a>
                    <a class="text-white mb-2" href="/ClassRoom/index/"><i class="fa fa-angle-right mr-2"></i>Sınıflarımız</a>
                    <a class="text-white mb-2" href="/OurTeacher/index/"><i class="fa fa-angle-right mr-2"></i>Ogretmenlerimiz</a>
                    <a class="text-white" href="/Contact/index/"><i class="fa fa-angle-right mr-2"></i>İletisim</a>
                </div>
            </div>

        </div>
        <div class="container-fluid pt-5"
             style="border-top: 1px solid rgba(23, 162, 184, 0.2) ;">
            <p class="m-0 text-center text-white">
                &copy;
                <a class="text-primary font-weight-bold" href="#">By Mehmet Kılıcer</a>.
                Tum Hakları Saklıdır.
            </p>
        </div>
    </div>
    <a href="#" class="btn btn-primary p-3 back-to-top">
        <i class="fa fa-angle-double-up"></i>
    </a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Templates/kidkinder-1.0.0/lib/easing/easing.min.js"></script>
    <script src="~/Templates/kidkinder-1.0.0/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Templates/kidkinder-1.0.0/lib/isotope/isotope.pkgd.min.js"></script>
    <script src="~/Templates/kidkinder-1.0.0/lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Templates/kidkinder-1.0.0/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Templates/kidkinder-1.0.0/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Templates/kidkinder-1.0.0/js/main.js"></script>


</body>
</html>
